/*ESTILOS PRIMERAS PAGINAS*/
.fondo{ background-image: url(../image_mp/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
#logo_portada {margin: 110px 35px
}
#frase{font-family: 'amatic_scregular';
    font-size: 30px;
    text-align: center;
    color: #8BA977;
    margin: 80px auto 0 auto
}
#chef{text-align: center;
}
.fondo-rosa{background-color: #F29F8B;
}
.fondo-rosa h2{font-family: 'amatic_scregular';
    font-size: 100px;
    text-align: center;
    color: white;
    letter-spacing:2px;
    padding-top: 110px
}
#siguiente{font-family: 'latoregular', sans-serif;
           color: white;
    margin-top: 140px
}
.popup-instrucciones {background-image: url(../image_mp/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.popup-instrucciones h1{font-family: 'amatic_scregular';
    font-size: 35px;
    text-align: center;
    color: #8BA977;
}
.popup-instrucciones h2{font-family: 'latoregular', sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 200px;
    text-align: center;
    margin: auto;
    align-content: center;
}
#titulo-rosado{color: #F29F8B;
    width: 250px;
    margin: auto
}
#botongris {margin: 40px auto 20px;
}
#logo-formularios{margin: 10px 100px
}
.popup-registrarse h1 {font-family: 'amatic_scbold';
    color: gray;
    text-align: center
}
.popup-iniciarsesion h1 {font-family: 'amatic_scbold';
    color: gray;
    text-align: center
}
.formulario label{font-family: 'latoregular', sans-serif;
    color: gray;
    margin:0 35px;
}
#dato{border-bottom: 2px solid gray;
    width: 250px;
    background-color: rgba(240, 248, 255, 0);
    margin:0 35px;
}
.recordar_contrasena{margin:0 35px;
}
.term_cond{margin:0 35px;
}

/*ESTILOS INDEX-MENU*/
.page-content{ background-image: url(../image_mp/5.png);
background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.menu{
    width: 60%;
    margin: auto;
}
.logo_menu{margin: 30px 100px 0 100px
}
.menu-inner {
    display:flow-root;
}
.menu-item-content{background-color: #F29F8B;
    width: 200px;
    height: 47px;
}
.menu-item img {
    text-align: left;
    display: inline-flex;
    padding-right: 8px;
}
.toolbar-inner{ justify-content:space-around
}
.iconomenu { display: flex;
    justify-content:flex-start;
    padding: 0px 0px 0 25px;

}
.iconomenu span img {
    display: block
}
/*ÑUSTA*/
/*PAGINA NIVEL DESBLOQUEADO*/
.desbloqueado_nm{
    background-color: #F29F8B;
    font-family: 'amatic_scbold';
    padding: 60px 0 ;
}
.desbloqueado_nm img{
    width: 40%;
}
.gorro_nm img{
   width: 40%;
    margin-left: 40px;

}
.centrado_nm{
    font-size: 63px;
    color: white;
    padding: 20px 0;
    letter-spacing: 6px;
        text-align: center;
}
.centrado2_nm{
 text-align: center;
   font-size: 30px;
    color: white;
    width: 55%;
    margin: auto;
    padding-bottom: 35px;
    letter-spacing: 2px;
}
.imagen_descripcion_nm{
        text-align: center;
    background-color: #8BA977;
    display: flex;
    width: 75%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px 2px rgba(41, 40, 40, 0.75);
}
.des_2{
    width: 70%;
    margin: auto;
}
.negro_nm{
    font-size: 26px;
    padding: 0px 0 10px;
}
.blanco_nm{
    color: white;
    font-size: 22px;
}

.botonblanco_nm{
    width: 75%;
    margin:auto;
    text-align:end;
    padding: 5px 0 50px;
}
.btnblanco_nm{
    text-decoration: none;
    font-size: 18px;
    color:  #F29F8B;
   padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 1px 0px rgba(185, 111, 111, 0.75);
}
.btnblanco_nm:hover {
    color: white;
    background-color: #8BA977;
     box-shadow: 1px 5px 1px 0px rgba(185, 111, 111, 0);
}
/*PAGINA NIVELES_ BASICO_MEDIO_ALTO*/
.basico_nm{
   background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';

}
.niveles_nm img{
    width: 40%;
}
.imagen_descripcion2_nm{
        text-align: center;
    background-color: #8BA977;
    display: flex;
    width: 72%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 6px 6px 10px 2px rgba(41, 40, 40, 0.62);
}
.botonrosa_nm{
    width: 72%;
    margin:auto;
    text-align:end;
    padding: 5px 0 15px;
}
.btnrosa_nm{
    text-decoration: none;
    font-size: 18px;
    color:   #353e30;
   padding: 7px 25px;
border-color:  #8BA977;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.btnrosa_nm:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);

}
.intermedio_nm{
     background-image: url(../images_nm/mad.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding-bottom: 55px;
}
.avanzado_nm{
  background-image: url(../images_nm/mad.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
     padding-bottom: 55px;

}
/*RECETARIO*/
.logo_recetario{
    justify-content: center;
    text-align: center;
}
.logo_recetario img{
    width: 40%;
}
.basico_nm{
   background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding-bottom: 55px;
}
.niveles_nm a{
    text-decoration: none;
    color: #1f1f1f;
}
.niveles_nm img{
    width: 40%;
}
.imagen_descripcion3_nm{
        text-align: center;
    background-color: rgba(139, 169, 119, 0.55);
    display: flex;
    width: 72%;
    margin: auto;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 0px 12px 10px 2px rgba(41, 40, 40, 0.46);
}
.imagen_descripcion3_nm:hover{
    background-color: #F29F8B;
}
.negro_nm1{
    font-size: 24px;
    padding: 10px 0;
    font-family: 'amatic_scbold';

}
.blanco_nm1{
    color: white;
    font-size: 20px;
    padding: 0 10px 10px;
}

/*FIN RECETARIO*/
/*RECETAS_ARROZ_PASTA_ROSCA_CUPCAKE*/
.arco_nm{
     background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding: 30px 0 0;
}
.titulo_estrellas{
    display: flex;
    width: 80%;
    margin: auto;
    align-items:center;
    text-align: end;
    color: #F29F8B;
    border-bottom: 2px solid grey;
    margin-bottom: 30px;
}
.titulo_estrellas h2{
    font-size: 36px;
    color: black;
}
.estrella_2{
margin-left: auto;
}
.star{
    color: #F29F8B;
}
.foto_info_nm{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 12px 12px 20px;
}
.foto_info_nm img{
    width: 100%;
    padding-bottom: 15px;
}
.info_nm{
    display: inline-flex;
font-family: 'latomedium';
}
.info_nm li{
  list-style-type: none;
  padding: 0 4px 0 4px;
}
/*tabla nutricional correccion*/
.img_nm{
    width: 25%;
    position: relative;
}
#tabla{
    width: 20%;
    position: absolute;
    transform: translate(165px, -77px);

}
#tn{
    color: aliceblue;
    text-decoration: none;
    font-family: 'latomedium';
    text-align:center;
    font-size: 16px;
}
#tn:hover{
    color: #000000;
}
/*fin tabla*/

.ingredientes_nm{
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.51);
    padding: 10px;
    font-family: 'latoregular';
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 30px;

}
.ingredientes_nm h3{
    font-family: 'amatic_scregular';
    padding: 20px 20px 0;
    font-size: 30px;
}
.ingredientes_nm ul li{
  display: flex;
    padding: 10px;
}
.ciro{
    color: #F29F8B;
}
.preparacion_nm{
      width: 80%;
    margin: auto;
    background-color: rgba(242, 159, 139, 0.65);
    padding: 10px;
    font-family: 'latoregular';
    font-size: 15px;
    margin-top: 40px;
}
.preparacion_nm h3{
    font-family: 'amatic_scregular';
    padding: 20px 20px 30px;
    font-size: 30px;
}
.preparacion_nm ol li{
 width: 82%;
    margin: auto;
    padding-bottom: 30px;
}
.home_nm{
   margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home_nm img{
   width: 20%;
}
.califica_nm{
  background-image: url(../images_nm/footer_rosa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 57px;
}
.califica_nm p{
    text-align: center;
    font-family: 'latoregular';
    font-size: 18px;
    padding-top: 10px;
    color: white;
}
label{color:#ffffff;}
input[type = "radio"]{ display:none;}
.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
       text-align: center;
  }
label:hover{color:#8BA977;}
label:hover ~ label{color:#8BA977;}
input[type = "radio"]:checked ~ label{color:#8BA977;}
#form {
  width: 100%;
  margin:  auto;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 180px;
}

input[type="radio"] {
  display: none;
}

label {
  color: white;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #8BA977;
}

input[type="radio"]:checked ~ label {
  color: #8BA977;
}
/*CABEZOTES DE LAS PAGINAS DE ÑUSTA*/
/*Niveles*/
.title_nm_2{
    background-color: #8BA977;
}
.title_nm_2 ul{
list-style-type: none;
    display: flex;
}
.back{
    font-size: 40px;
    margin: 20px 10px 0 0;
    color: white;
}
.back:hover{
    color: #F29F8B;
}
.title_nm_2 ul p{
font-family: 'latomedium';
    color: white;
    font-size: 23px;
    padding-top: 3px;
}
.check{
    color: #d4b50b;
    font-size: 30px;
    position: relative;
    transform: translate(339px, 30px)
 }
/*Aleja*/
/*Tu cuenta*/
.list{
    width: 80%;
    margin: auto;
    text-align:left;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.62);
    font-family: 'latomedium';
    color: #393939;
    padding-bottom: 40px;
    margin-top: 10px;

}
.list ul{
        list-style: none;
}
.list ul li{
        padding: 10px;
}
.gender{
    padding: 10px 231px 10px 0;
}
.gender1{
    padding: 10px 240px 10px 0;
}
.item-input-wrap input{
    padding: 10px 140px 10px 0;
}
.datos_nm h3{
    color: #8BA977;
    text-align: center;
}
.niveles_superados{
     width: 80%;
    margin: auto;
    text-align:left;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.62);
    font-family: 'latomedium';
    color: #393939;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.niveles_superados h3{
    text-align: center;
    color: #8BA977;
    font-family: 'latomedium';
    font-size: 20px;
}
.barra{
    padding: 0px 15px 0px 15px;
}
.p_n{
    font-family: 'latomedium';
    color: #393939;
    font-size: 18px;
}
.barra_nm{
    background-color: #848080;
    height: 4px;
}
.barra_nm ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
      transform: translate(-17px, -13px)
}
.color_b{
   color: #767373;
}
.color{
    color: #eb7b60;
}

.body2{
     background-image: url(../imagenes_mac/5.png);
background-size: cover;
background-repeat: repeat;
background-position: center;
height: 100vh;
align-content: center;
}
.cabezote_uuario_mac{
background-image: url(../imagenes_mac/circulito%20verde.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width:100%;
margin-top:0px;
align-content: center;
    justify-content: center;
    text-align: center;
}

.imagencara_mac{
    width: 35%;
    margin: auto;
    padding: 30px 0px 10px 0px;
}
#nombreusuario_mac{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'amatic_scbold';
    color: white;
    font-size: 20px;
    letter-spacing: 2px;

}
.estrella_numero{
    padding-bottom: 20px;
}
.estrella{
    color: #ffe30a;
    font-size: 30px;

}

#puntaje{
   font-family: 'latomedium';
    color: white;
    font-size: 20px;

}
/*MASTERCLASS*/
#master{
   text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #F29F8B;
    font-size: 50px;
}
.gordon ul{
    display: flex;
    list-style: none;
    width: 80%;
    margin: auto;
}
.video{
    margin-left: 65px
}
.botonrosa_mp{
    width: 72%;
    margin:auto;
    text-align:end;
    padding: 35px 0 15px;
}
.btnrosa_mp{
    text-decoration: none;
    font-size: 18px;
    color:   #353e30;
   padding: 7px 25px;
border-color:  #8BA977;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.btnrosa_mp:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);

}






