/*font-family: 'amatic_scbold';
font-family: 'amatic_scregular';
font-family: 'latoblack';
 font-family: 'latomedium';
font-family: 'latoregular';*/
/*ESTILOS PRIMERAS PAGINAS*/
.fondo{ background-image: url(../image_mp/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
#logo_portada {margin: 110px 35px
}
#frase{font-family: 'amatic_scregular';
    font-size: 30px;
    text-align: center;
    color: #8BA977;
    margin: 80px auto 0 auto
}
#chef{text-align: center;
}
.fondo-rosa{background-color: #F29F8B;
}
.fondo-rosa h2{font-family: 'amatic_scregular';
    font-size: 100px;
    text-align: center;
    color: white;
    letter-spacing:2px;
    padding-top: 110px
}
#siguiente{font-family: 'latoregular', sans-serif;
           color: white;
    margin-top: 140px
}
.popup-instrucciones {background-image: url(../image_mp/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.popup-instrucciones h1{font-family: 'amatic_scregular';
    font-size: 35px;
    text-align: center;
    color: #8BA977;
}
.popup-instrucciones h2{font-family: 'latoregular', sans-serif;
    font-size: 15px;
    font-weight: 200;
    width: 200px;
    text-align: center;
    margin: auto;
    align-content: center;
}
#titulo-rosado{color: #F29F8B;
    width: 250px;
    margin: auto
}
#botongris {margin: 40px auto 20px;
}
#logo-formularios{margin: 10px 100px
}
.popup-registrarse h1 {font-family: 'amatic_scbold';
    color: gray;
    text-align: center
}
.popup-iniciarsesion h1 {font-family: 'amatic_scbold';
    color: gray;
    text-align: center
}
.formulario label{font-family: 'latoregular', sans-serif;
    color: gray;
    margin:0 35px;
}
#dato{border-bottom: 2px solid gray;
    width: 250px;
    background-color: rgba(240, 248, 255, 0);
    margin:0 35px;
}
.recordar_contrasena{margin:0 35px;
}
.term_cond{margin:0 35px;
}

/*ESTILOS INDEX-MENU*/
.page-content{ background-image: url(../image_mp/5.png);
background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.menu{
    width: 60%;
    margin: auto;
}
.logo_menu{margin: 30px 100px 0 100px
}
.menu-inner {
    display:flow-root;
}
.menu-item-content{background-color: #F29F8B;
    width: 200px;
    height: 47px;
}
.menu-item img {
    text-align: left;
    display: inline-flex;
    padding-right: 8px;
}
.toolbar-inner{ justify-content:space-around
}
.iconomenu { display: flex;
    justify-content:flex-start;
    padding: 0px 0px 0 25px;

}
.iconomenu span img {
    display: block
}
/*ÑUSTA*/
/*PAGINA NIVEL DESBLOQUEADO*/
.desbloqueado_nm{
    background-color: #F29F8B;
    font-family: 'amatic_scbold';
    padding: 60px 0 ;
}
.desbloqueado_nm img{
    width: 40%;
}
.gorro_nm img{
   width: 40%;
    margin-left: 40px;

}
.centrado_nm{
    font-size: 63px;
    color: white;
    padding: 20px 0;
    letter-spacing: 6px;
        text-align: center;
}
.centrado2_nm{
 text-align: center;
   font-size: 30px;
    color: white;
    width: 55%;
    margin: auto;
    padding-bottom: 35px;
    letter-spacing: 2px;
}
.imagen_descripcion_nm{
        text-align: center;
    background-color: #8BA977;
    display: flex;
    width: 75%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 10px 2px rgba(41, 40, 40, 0.75);
}
.des_2{
    width: 70%;
    margin: auto;
}
.negro_nm{
    font-size: 28px;
}
.blanco_nm{
    color: white;
    font-size: 16px;

}

.botonblanco_nm{
    width: 75%;
    margin:auto;
    text-align:end;
    padding: 5px 0 50px;
}
.btnblanco_nm{
    text-decoration: none;
    font-size: 18px;
    color:  #F29F8B;
   padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 5px 1px 0px rgba(185, 111, 111, 0.75);
}
.btnblanco_nm:hover {
    color: white;
    background-color: #8BA977;
     box-shadow: 1px 5px 1px 0px rgba(185, 111, 111, 0);
}
/*PAGINA NIVELES_ BASICO_MEDIO_ALTO*/
.basico_nm{
   background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';

}
.niveles_nm img{
    width: 20%;
}
.imagen_descripcion2_nm{
        text-align: center;
    background-color: #8BA977;
    display: flex;
    margin: auto;
    margin-right:40px;
    margin-left: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 6px 6px 10px 2px rgba(41, 40, 40, 0.62);
}
.botonrosa_nm{
    width: 72%;
    margin:auto;
    text-align:end;
    padding: 5px 0 15px;
}
.btnrosa_nm{
    text-decoration: none;
    font-size: 18px;
    color:   #353e30;
   padding: 7px 25px;
border-color:  #8BA977;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.btnrosa_nm:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);

}
.intermedio_nm{
     background-image: url(../images_nm/mad.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding-bottom: 55px;
}
.avanzado_nm{
  background-image: url(../images_nm/mad.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
     padding-bottom: 55px;

}
/*RECETARIO*/
.logo_recetario{
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.logo_recetario img{
    width: 40%;
}
.basico_nm{
   background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding-bottom: 55px;
}
.niveles_nm a{
    text-decoration: none;
    color: #1f1f1f;
}
.niveles_nm img{
    width: 40%;
}
.imagen_descripcion3_nm{
        text-align: center;
    background-color: rgba(139, 169, 119, 0.55);
    display: flex;
margin-left: 40px;
    margin-right: 40px;
    border-radius: 12px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 0px 12px 10px 2px rgba(41, 40, 40, 0.46);
}
.imagen_descripcion3_nm:hover{
    background-color: #F29F8B;
}
.negro_nm1{
    font-size: 24px;
    font-family: 'amatic_scbold';

}
.blanco_nm1{
    color: white;
    font-size: 20px;
}

/*FIN RECETARIO*/
/*RECETAS_ARROZ_PASTA_ROSCA_CUPCAKE*/
.arco_nm{
     background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding: 30px 0 0;
}
.titulo_estrellas{
    display: flex;
    width: 80%;
    margin: auto;
    align-items:center;
    text-align: end;
    color: #F29F8B;
    border-bottom: 2px solid grey;
    margin-bottom: 30px;
}
.titulo_estrellas h2{
    font-size: 36px;
    color: black;
}
.estrella_2{
margin-left: auto;
}
.star{
    color: #F29F8B;
}
.foto_info_nm{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 12px 12px 20px;
}
.foto_info_nm img{
    width: 100%;
    padding-bottom: 15px;
}
.info_nm{
    display: inline-flex;
font-family: 'latomedium';
}
.info_nm li{
  list-style-type: none;
  padding: 0 4px 0 4px;
}
/*tabla nutricional correccion*/
.img_nm{
    width: 25%;
    position: relative;
}
#tabla{
    width: 20%;
    position: absolute;
    transform: translate(165px, -77px);

}
#tn{
    color: aliceblue;
    text-decoration: none;
    font-family: 'latomedium';
    text-align:center;
    font-size: 16px;
}
#tn:hover{
    color: #000000;
}
/*fin tabla*/

.ingredientes_nm{
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.51);
    padding: 10px;
    font-family: 'latoregular';
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 30px;

}
.ingredientes_nm h3{
    font-family: 'amatic_scregular';
    padding: 20px 20px 0;
    font-size: 30px;
}
.ingredientes_nm ul li{
  display: flex;
    padding: 10px;
}
.ciro{
    color: #F29F8B;
}
.preparacion_nm{
      width: 80%;
    margin: auto;
    background-color: rgba(242, 159, 139, 0.65);
    padding: 10px;
    font-family: 'latoregular';
    font-size: 15px;
    margin-top: 40px;
}
.preparacion_nm h3{
    font-family: 'amatic_scregular';
    padding: 20px 20px 30px;
    font-size: 30px;
}
.preparacion_nm ol li{
 width: 82%;
    margin: auto;
    padding-bottom: 30px;
}
.home_nm{
   margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.home_nm img{
   width: 20%;
}
.califica_nm{
  background-image: url(../images_nm/footer_rosa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 57px;
}
.califica_nm p{
    text-align: center;
    font-family: 'latoregular';
    font-size: 18px;
    padding-top: 10px;
    color: white;
}
label{color:#ffffff;}
input[type = "radio"]{ display:none;}
.clasificacion{
      direction: rtl;/* right to left */
      unicode-bidi: bidi-override;/* bidi de bidireccional */
       text-align: center;
  }
label:hover{color:#8BA977;}
label:hover ~ label{color:#8BA977;}
input[type = "radio"]:checked ~ label{color:#8BA977;}
#form {
  width: 100%;
  margin:  auto;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 180px;
}

input[type="radio"] {
  display: none;
}

label {
  color: white;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: #8BA977;
}

input[type="radio"]:checked ~ label {
  color: #8BA977;
}
/*CABEZOTES DE LAS PAGINAS DE ÑUSTA*/
/*Niveles*/
.title_nm_2{
    background-color: #8BA977;
}
.title_nm_2 ul{
list-style-type: none;
    display: flex;
}
.back{
    font-size: 40px;
    margin:auto;
    color: #383231;
    margin-top: 20px;

}
.back:hover{
    color: #F29F8B;
}
.back1{
    font-size: 40px;
    margin-left: 25px;
    color: #8BA977;
}
.back1:hover{
    color: #464342;
}
.title_nm_2 ul p{
font-family: 'latomedium';
    color: white;
    font-size: 23px;
    padding-top: 3px;
}
.check{
    color: #d4b50b;
    font-size: 30px;
    position: relative;
    transform: translate(343px, 35px)
 }
/*Aleja*/
/*Tu cuenta*/
.list{
    width: 80%;
    margin: auto;
    text-align:left;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.62);
    font-family: 'latomedium';
    color: #393939;
    padding-bottom: 40px;
    margin-top: 10px;

}
.list ul{
        list-style: none;
}
.list ul li{
        padding: 10px;
}
.gender{
    padding: 10px 231px 10px 0;
}
.gender1{
    padding: 10px 240px 10px 0;
}
.item-input-wrap input{
    padding: 10px 140px 10px 0;
}
.datos_nm h3{
    color: #8BA977;
    text-align: center;
}
.niveles_superados{
     width: 80%;
    margin: auto;
    text-align:left;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.62);
    font-family: 'latomedium';
    color: #393939;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.niveles_superados h3{
    text-align: center;
    color: #8BA977;
    font-family: 'latomedium';
    font-size: 20px;
}
.barra{
    padding: 0px 15px 0px 15px;
}
.p_n{
    font-family: 'latomedium';
    color: #393939;
    font-size: 18px;
}
.barra_nm{
    background-color: #848080;
    height: 4px;
}
.barra_nm ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
      transform: translate(-17px, -13px)
}
.color_b{
   color: #767373;
}
.color{
    color: #eb7b60;
}

.body2{
     background-image: url(../imagenes_mac/5.png);
background-size: cover;
background-repeat: repeat;
background-position: center;
height: 100vh;
align-content: center;
}
.cabezote_uuario_mac{
background-image: url(../imagenes_mac/circulito%20verde.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width:100%;
margin-top:30px;
align-content: center;
    justify-content: center;
    text-align: center;
}

.imagencara_mac{
    width: 35%;
    margin: auto;
    padding: 30px 0px 10px 0px;
}
#nombreusuario_mac{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'amatic_scbold';
    color: white;
    font-size: 20px;
    letter-spacing: 2px;

}
.estrella_numero{
    padding-bottom: 20px;
}
.estrella{
    color: #ffe30a;
    font-size: 30px;

}

#puntaje{
   font-family: 'latomedium';
    color: white;
    font-size: 20px;

}
/*MASTERCLASS*/
#master{
   text-align: center;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #F29F8B;
    font-size: 50px;
}
.gordon{
    display: flex;
    width: 70%;
    margin: auto;
}
.gordon h3{
    width: 100%;
    transform: translateX(-60px);
    font-size: 30px;
    font-family: 'amatic_scbold';
}
.video{
    margin-left: 65px
}
.botonrosa_mp{
    width: 72%;
    margin:auto;
    text-align:end;
    padding: 35px 0 15px;
}
.btnrosa_mp{
    text-decoration: none;
    font-size: 18px;
    color:   #353e30;
   padding: 7px 25px;
border-color:  #8BA977;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.btnrosa_mp:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*NIVELES-ESCUELA EN CASA*/
.nive_escu{
    display: flex;
    width: 100%;
}

.escu_casa{
    background-image: url(../image_daniela/pla_2_arreglo.jpg);
    width: 70%;
    padding: 83px 0;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.h2_titulos{
    font-family: 'amatic_scregular';
    color:  #F29F8B;
    font-size: 4em;
    line-height: 1em;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}

.img_n{
    width: 90px;
    padding: 20px 0;
}

.p_casa{
    font-family: 'latoregular';
    width: 70%;
    margin: auto;
    padding: 40px 0 0;
    font-size: 0.7em;
    line-height: 1.2em;
    text-align:center;


}
.text_nive{
    font-family: 'amatic_scbold';
    color:  white;
    font-size: 2.0em;
    padding: 50px 0 0px;
}

.nive_bot_image{
    width: 30%;
    background-color: rgb(139, 169, 119);
    border-radius: 80px;
    box-shadow: -3px 3px 3px 15px rgba(41, 41, 41, 0.19);
   }
.boton_niveles{
    width: 90%;
    margin: auto;
    text-align: center;
}

/*botones niveles*/
.bot_niveles{
/*    width: 72%;*/
    margin:auto;
    text-align:center;

}
.bot_nive{
    text-decoration: none;
    font-family: 'latoregular';
    font-size: 15px;
    color:  #606060;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.62);
    box-shadow: 1px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_nive:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*Recetas por pais*/
.pais{
    background-image: url(../image_daniela/por_pais.jpg);
    width: 100%;
    padding: 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;
}

.titulo_pais{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 0 0 20px 0;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_pais{
    text-align:center;
    font-family: 'latoregular';
    font-size: 16px;
    margin-bottom: 100pz;
    color:  #606060;

}

/*boton comenzar*/
.boton_pais{
    width: 80%;
    margin-top: 200px;
    text-align:end;
    padding: 9px 0 15px;

}
.bot_pais{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 14px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_pais:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*varios paises*/
/*descripcionesmac*/

.searchbar{
    margin-right: 50%;
     margin-bottom: 50px;
}
.titulo_descripciones_mac{
    font-family: 'amatic_scbold';
    color: #5a5a5a;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 3px;

}

.filas1_mac{
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10%;
    font-family: 'latomedium';
    font-size: 10px;

}
.columna1_mac{
    margin-right: 10px;
    background-color: white;
    padding:9px 9px 10px 9px;
}
.columna2_mac{
    margin-left: 10px;
    background-color: white;
    padding:9px 9px 10px 9px;

}
#text_descr_mac{
    margin-top: 3px;
    text-decoration: none;
}
.vinculo_fi_mac{
    text-decoration: none;
    color: #8BA977;
}
.vinculo_fi_mac :hover{
    background-color: #F29F8B;
    color: white;
}
.titulos_lomapopu_mac{
    font-family: 'amatic_scbold';
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    text-align: end;
    margin-right: 20px;

}
/*descripchuchu*/
.fila_principal_pichu{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 10%;
    font-family: 'amatic_scbold';
    color:  #F29F8B;
    font-size: 20px;
    letter-spacing: 2px;
}

.columna1fila_mac{
    margin-right: 10px;
    background-color: white;
    padding:11px 11px 15px 11px;
}
/*producto*/
.recetas_producto{
    background-image: url(../image_daniela/producto.jpg);
    width: 100%;
    padding: 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;

}


.titulo_pro{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 0 0 20px 0;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_pro{
    text-align:center;
    font-family: 'latoregular';
    font-size: 14px;
    margin-bottom: 100pz;
    color:  #606060;

}

/*boton comenzar*/
.boton_pro{
    width: 80%;

    margin-top: 200px;
    text-align:end;
    padding: 9px 0 15px;

}
.bot_pro{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 14px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_pro:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*OCASION*/
.recetas_ocasion{
    background-image: url(../image_daniela/ocaciones.jpg);
    width: 100%;
    padding: 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;

}


.titulo_oca{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 0 0 20px 0;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_oca{
    text-align:center;
    font-family: 'latoregular';
    font-size: 14px;
    margin-bottom: 100pz;
    color:  #606060;

}

/*boton comenzar*/
.boton_oca{
    width: 80%;
    margin-top: 190px;
    text-align:end;
    padding: 9px 0 15px;

}
.bot_oca{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 14px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_oca:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*vegetariana*/
.recetas_vegetariano{
    background-image: url(../image_daniela/vegetariana.jpeg);
    width: 100%;
    padding: 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;

}

.titulo_vege{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 0 0 20px 0;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_vege{
    text-align:center;
    font-family: 'latoregular';
    font-size: 16px;
    margin-bottom: 10px;
    color:  #606060;

}

/*boton comenzar*/
.boton_vege{
    width: 80%;
    margin-top: 210px;
    text-align:end;
    padding: 9px 0 15px;

}
.bot_vege{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 14px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_vege:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*reposteria*/
.recetas_reposteria{
    background-image: url(../image_daniela/reposteria.jpg);
    width: 100%;
    padding:0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;

}

.titulo_rep{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 0 0 40px 0;
text-align: center;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_rep{
    text-align:center;
    font-family: 'latoregular';
    font-size: 14px;
    margin-bottom: 100pz;
    color:  #606060;

}

/*boton comenzar*/
.boton_rep{
    width:80%;
    margin-top: 180px;
    text-align:end;
    padding: 9px 0 15px;

}
.bot_rep{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 12px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_rep:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*MAPATOUR*/
.recetas_mapatour{
    background-image: url(../image_daniela/tour.jpg);
    width: 100%;
    padding: 0px 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;

}

.titulo_tour{
font-family: 'amatic_scbold';
font-size: 4em;
color:  #606060;
margin: 30px 0 50px 0;
text-align: center;
border-bottom: 2px solid  rgba(96, 96, 96, 0.75);
}

.p_tour{
    text-align:center;
    font-family: 'latoregular';
    font-size: 14px;
    margin-top: 340px;
    color:  #606060;

}

/*boton comenzar*/
.boton_tour{
    width: 80%;
    margin-top:30px;
    text-align:end;
    padding: 9px 0 15px;
    margin-bottom: 10px;
}
.bot_tour{
    text-decoration: none;
    font-size: 18px;
    color:  white;
    padding: 14px 25px;
    border-radius: 10px;
    background-color: rgb(139, 169, 119);
    box-shadow: 3px 5px 10px 0px rgba(41, 41, 41, 0.75);
}
.bot_tour:hover {
    color:  white;
    background-color: #F29F8B;
    border-color:  rgba(139, 169, 119, 0);
}
/*Paises*/
.paises_nm{
     background-image: url(../images_nm/5_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    font-family: 'amatic_scbold';
    padding-bottom: 55px;
    width: 100%;
    text-align: center;
}
.imagen_gorro{
    background-color: rgba(139, 169, 119, 0.54);
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    margin: 10px 0px 30px 0px;
    padding-top: 60px;
}
.imagen_gorro h2{
    color: #393939;
    font-size: 50px;
    padding: 20px 0 60px;
}
.imagen_gorro img{
    width: 50%;
    margin: auto;
}
.verde_pais{
    background-color: #8BA977;
    width: 60%;
    margin: auto;
    padding: 18px;
    border-radius: 30px;
    margin-bottom: 30px;
}
.verde_pais p{
        color: white;
    font-size: 24px;
    width: 80%;
    margin: auto;
    text-align: center;

}
.banderas_nm img{
    width: 60%;
    margin: auto;
    padding: 20px 0px;
}
.banderas_nm ul li{
   list-style-type: none;
}
/*estrellas inglaterra*/
.imagen_inglaterra{
    text-align: center;
    padding: 60px 0 40px;
}
.imagen_inglaterra img{
    width: 60%;
    margin: auto;
}
.estrellas_i{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom:40px;
    margin-top: 30px;
}
.estrellas_i ul li{
    list-style-type: none;
    background-color: #8BA977;
    padding: 20px 0;

}
.boton_i{
margin: 25px 0;
}
.stari{
    font-size: 40px;
    color: #f4fd80;
}


